@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-family: Montserrat, sans-serif; */
    font-family: 'Mulish', sans-serif;
  }
}
body{
  background: #161718;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
.grecaptcha-badge { visibility: hidden; }
/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #3c3c3c;
  border-radius: 5px;
} 
::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  background-color: #555;
  height: 0;
}
::-webkit-scrollbar-corner {
  background-color: #555;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

#headerBg{
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 60s;
  transform: translateX(-50%)
}
@keyframes run {
  0% {
    transform: translateX(-30%); 
  }
  50% {
    transform: translateX(0%); 
  }
  100% {
    transform: translateX(-30%);    
  }
}
.scroll-down{
  border: 2px solid #fff;
  border-radius: 20px;
  bottom: 25px;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 30px;
  &::before{
    animation: scrollDownAnimation 2s infinite;
    background-color: #fff;
    border-radius: 100%;
    content: '';
    height: 6px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 10px;
    width: 6px;
  }
}
.perspective{
  perspective:1px;
}
@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
.fp-watermark{
  display: none;
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
  background: #cccccc !important;
}
// @media screen and (orientation: landscape) {
//   body {
//     transform: rotate(90deg);
//     transform-origin: left top;
//     width: 100vh;
//     overflow-x: hidden;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
// }