@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-family: Montserrat, sans-serif; */
    font-family: 'Mulish', sans-serif;
  }
}
body{
  background: #1A202C;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

#headerBg{
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 60s;
  transform: translateX(-50%)
}
@keyframes run {
  0% {
    transform: translateX(-30%); 
  }
  50% {
    transform: translateX(0%); 
  }
  100% {
    transform: translateX(-30%);    
  }
}